.colors{
    color: #D3D5D7;
    color: #428BCA;
    color: #88B8CC;
    color: #AAD53B;
    color: #3B3C3E;
    color: #F2F3F5;
    color: #F2F3F5;
    color: #88B8CC;
    color: #E9772E;
    color: #CFE1A9;
    color: #C0C0C0;
}